/* Give your page a fun background color */
body { background-color: palevioletred }
/* Make }the header and footer a different color from the background */
header 
{color: brown);
}

footer { 
   background-color: rgb(80, 0, 126);
    height: 40px
}
header {
    background-color: rgb(99, 0, 165);
    height: 40px

}

/* Align the h1 containing your name in the center of the header*/

h1 {text-align: center;
color: white}

/* Make your p tag a different color and italic */
p { font-size: 15px;
    color: white;
    font-weight: bold;
    font-style: italic; }

/* Put a border around your image */
img { border: 5px solid #555;}
img {width: 150x;}
img {height: 200px;}
/* Change the font-family of your list */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
